[submodule "ansible/roles/nginxinc.nginx_config"]
	path = ansible/roles/nginxinc.nginx_config
	url = https://github.com/nginxinc/ansible-role-nginx-config.git
[submodule "ansible/roles/nginxinc.nginx"]
	path = ansible/roles/nginxinc.nginx
	url = https://github.com/nginxinc/ansible-role-nginx.git
